@import "/../../public/assets/sass/global";

.task-form {
  position: relative;
  z-index: 0;
  opacity: 0;
  transform: translate3d(0, -65px, 0);
  transition: transform 500ms ease, opacity 500ms ease;

  &--show {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  .error {
    width: 85%;
    border-color: #c3272b !important;
    color: #c3272b !important;
    display: inline-block;
    text-align: left;
  }

  label {
    @include hidden;
  }
}
